extends layout

block content
  h1(class='header') #{name}
  p Duration of the course #{duration}
  p Number of participants #{participants}
  p Course start date #{startingDate}
  p Course end date #{endingDate}
  p Course description #{description}
