extends layout

block content
  
  div(data-role="page", id="page1")
    div(data-role="header")
      h1(class='header') #{name}
    div(class='taulu', role="main" class="taulu")
      table(data-role="table", id="my-table", data-mode="reflow")
        thead
          tr
            th Duration of the course:
            th Number of participants:
            th Course start date:
            th Course end date:
            th Course description:
        tbody
          tr
            td #{duration}
            td #{participants}
            td #{startingDate}
            td #{endingDate}
            td #{description}
        